html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

a {
    color: red;
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    gap: 1em;
    text-align: center;
    background-color: hsl(221, 20%, 80%);
    color: hsl(221, 10%, 33%);
}

main a {
    color: hsl(221, 10%, 33%);
}

main a:hover {
    color: hsl(221, 50%, 33%);
    text-decoration: underline;
}

main > .intro {
    font-size: 3.75em;
    font-weight: 700;
}

main > .tagline {
    font-size: 1.5rem;
    font-weight: 500;
}

main > .profile {
    align-self: center;
    text-align: justify;
    padding: 0.5em;
    max-width: 30em;
}

main > .profile > p {
    font-size: 1rem;
    font-weight: 600;
}

main > .profile > p {
    margin: 1em;
}

main > .icons-files {
    font-size: 1em;
    font-weight: 600;
}

main > .icons-files i {
    padding: 0px;
}

main > .icons-files a {
    text-decoration: none;
    padding: 0.25em;
}

main > .icons-social {
    font-size: 2em;
}

main > .icons-social i {
    /* font-size: 3em; */
    padding: 10px;
}

main > .icons-social a {
    text-decoration: none;
}
